{% extends 'base.html' %}
{% block body %}
<title>add datas</title>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <input type="text" name="name" placeholder="Enter movie name"><br><br>
    <input type="text" name="dir" placeholder="Enter movie director"><br><br>
    <input type="number" name="year" placeholder="Enter release year"><br><br>
    <input type="text" name="Imdb" placeholder="Enter Imdb rating"><br><br>
    <input type="file" name="img"><br><br>
    <input type="submit">

</form>

{% endblock %}